In [26]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.12/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: numpy in ./venv/lib/python3.12/site-packages (2.2.4)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [37]:
import pandas as pd

In [28]:
appr=pd.read_csv('appearances.csv')
appr.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [29]:
appr.dtypes

appearance_id             object
game_id                    int64
player_id                  int64
player_club_id             int64
player_current_club_id     int64
date                      object
player_name               object
competition_id            object
yellow_cards               int64
red_cards                  int64
goals                      int64
assists                    int64
minutes_played             int64
dtype: object

In [30]:
appr.isnull().any()

appearance_id             False
game_id                   False
player_id                 False
player_club_id            False
player_current_club_id    False
date                      False
player_name                True
competition_id            False
yellow_cards              False
red_cards                 False
goals                     False
assists                   False
minutes_played            False
dtype: bool

In [31]:
appr.isnull().sum()

appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
player_name               6
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64

In [32]:
appr[appr['player_name'].isnull()]

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
799042,3084062_380365,3084062,380365,16486,-1,2018-09-05,NaN,CDR,1,0,0,0,90
799117,3084059_411294,3084059,411294,3302,-1,2018-09-11,NaN,CDR,0,0,0,0,90
799150,3084057_255495,3084057,255495,11596,-1,2018-09-12,NaN,CDR,0,0,0,0,90
799165,3102749_380365,3102749,380365,16486,-1,2018-09-12,NaN,CDR,0,0,0,0,120
816192,3106648_255495,3106648,255495,11596,-1,2018-10-17,NaN,CDR,0,0,0,0,90
840806,3118604_411294,3118604,411294,3302,-1,2018-12-05,NaN,CDR,0,0,0,0,49

In [33]:
game=pd.read_csv('club_games.csv')
game.head(10)

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,NaN,Holger Bachthaler,24.0,2.0,NaN,Armin Veh,Home,0
1,2320454,222.0,0.0,NaN,Volkan Uluc,79.0,2.0,NaN,Bruno Labbadia,Home,0
2,2320460,1.0,3.0,NaN,Jürgen Luginger,86.0,1.0,NaN,Robin Dutt,Home,1
3,2320472,2036.0,4.0,NaN,Frank Schmidt,72.0,5.0,NaN,Alexander Schmidt,Home,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,Home,0
5,2321033,23.0,0.0,13.0,Torsten Lieberknecht,86.0,1.0,7.0,Robin Dutt,Home,0
6,2321044,16.0,2.0,1.0,Jürgen Klopp,23.0,1.0,15.0,Torsten Lieberknecht,Home,1
7,2321060,23.0,0.0,18.0,Torsten Lieberknecht,24.0,2.0,11.0,Armin Veh,Home,0
8,2321063,33.0,2.0,13.0,Jens Keller,15.0,0.0,3.0,Sami Hyypiä,Home,1
9,2321072,16.0,6.0,1.0,Jürgen Klopp,41.0,2.0,15.0,Thorsten Fink,Home,1

In [34]:
game.dtypes

game_id                    int64
club_id                  float64
own_goals                float64
own_position             float64
own_manager_name          object
opponent_id              float64
opponent_goals           float64
opponent_position        float64
opponent_manager_name     object
hosting                   object
is_win                     int64
dtype: object

In [35]:
game

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,NaN,Holger Bachthaler,24.0,2.0,NaN,Armin Veh,Home,0
1,2320454,222.0,0.0,NaN,Volkan Uluc,79.0,2.0,NaN,Bruno Labbadia,Home,0
2,2320460,1.0,3.0,NaN,Jürgen Luginger,86.0,1.0,NaN,Robin Dutt,Home,1
3,2320472,2036.0,4.0,NaN,Frank Schmidt,72.0,5.0,NaN,Alexander Schmidt,Home,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,Home,0
...,...,...,...,...,...,...,...,...,...,...,...
147385,3912717,62.0,0.0,NaN,Jindrich Trpisovsky,7769.0,2.0,NaN,Dan Petrescu,Away,0
147386,3912732,602.0,0.0,NaN,Vladimir Cheburin,540.0,0.0,NaN,Vladimír Weiss,Away,0
147387,3912739,540.0,0.0,NaN,Vladimír Weiss,10301.0,2.0,NaN,Eghishe Melikyan,Away,0
147388,4031421,2156.0,0.0,NaN,José Luis Oltra,379.0,4.0,NaN,David Moyes,Away,0
147389,4188444,1132.0,4.0,NaN,Vincent Kompany,34888.0,0.0,NaN,Neil Wood,Away,1

In [36]:
game_sorted=game.sort_values(by=["club_id","away_id"], ascending=True)
grouped=game.groupby(['club_id'])['game_id'].count()
game_sorted.head(20)
game[game['hosting']=='Away']

KeyError: 'away_id'

In [44]:
game.isnull().sum()

game_id                      0
club_id                     18
own_goals                   24
own_position             44876
own_manager_name          1658
opponent_id                 18
opponent_goals              24
opponent_position        44876
opponent_manager_name     1658
hosting                      0
is_win                       0
dtype: int64

In [46]:
game.dtypes

game_id                    int64
club_id                  float64
own_goals                float64
own_position             float64
own_manager_name          object
opponent_id              float64
opponent_goals           float64
opponent_position        float64
opponent_manager_name     object
hosting                   object
is_win                     int64
dtype: object

In [48]:
game.fillna({col:0 for col in game.select_dtypes(include=['number']).columns},inplace=True)
game.fillna('Unknown',inplace=True)
game

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,0.0,Holger Bachthaler,24.0,2.0,0.0,Armin Veh,Home,0
1,2320454,222.0,0.0,0.0,Volkan Uluc,79.0,2.0,0.0,Bruno Labbadia,Home,0
2,2320460,1.0,3.0,0.0,Jürgen Luginger,86.0,1.0,0.0,Robin Dutt,Home,1
3,2320472,2036.0,4.0,0.0,Frank Schmidt,72.0,5.0,0.0,Alexander Schmidt,Home,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,Home,0
...,...,...,...,...,...,...,...,...,...,...,...
147385,3912717,62.0,0.0,0.0,Jindrich Trpisovsky,7769.0,2.0,0.0,Dan Petrescu,Away,0
147386,3912732,602.0,0.0,0.0,Vladimir Cheburin,540.0,0.0,0.0,Vladimír Weiss,Away,0
147387,3912739,540.0,0.0,0.0,Vladimír Weiss,10301.0,2.0,0.0,Eghishe Melikyan,Away,0
147388,4031421,2156.0,0.0,0.0,José Luis Oltra,379.0,4.0,0.0,David Moyes,Away,0
147389,4188444,1132.0,4.0,0.0,Vincent Kompany,34888.0,0.0,0.0,Neil Wood,Away,1

In [10]:
clubs=pd.read_csv('clubs.csv')
clubs.head()

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.6,13,48.1,1,Merck-Stadion am Böllenfalltor,17810,+€3.05m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,30,26.5,11,36.7,3,Yekaterinburg Arena,23000,+€880k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,30,26.5,15,50.0,8,Beşiktaş Park,42445,€-25.26m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.3,18,69.2,17,Olimpico di Roma,70634,€-76.90m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.4,21,70.0,19,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...

In [11]:
clubs.dtypes

club_id                      int64
club_code                   object
name                        object
domestic_competition_id     object
total_market_value         float64
squad_size                   int64
average_age                float64
foreigners_number            int64
foreigners_percentage      float64
national_team_players        int64
stadium_name                object
stadium_seats                int64
net_transfer_record         object
coach_name                 float64
last_season                  int64
filename                    object
url                         object
dtype: object

In [52]:
appr

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696968,4547698_661145,4547698,661145,681,681,2025-03-13,Jon Aramburu,EL,0,1,0,0,7
1696969,4547698_69633,4547698,69633,985,985,2025-03-13,Christian Eriksen,EL,0,0,0,0,1
1696970,4547698_811779,4547698,811779,985,985,2025-03-13,Alejandro Garnacho,EL,0,0,0,1,90
1696971,4547698_907813,4547698,907813,681,681,2025-03-13,Pablo Marín,EL,1,0,0,0,56
1696972,4547698_926952,4547698,926952,985,985,2025-03-13,Patrick Dorgu,EL,0,0,0,0,90

In [53]:
plv=pd.read_csv('player_valuations.csv')
plv.head()

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1

In [67]:
plv.isnull().sum()

player_id                              0
date                                   0
market_value_in_eur                    0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64

In [40]:
players=pd.read_csv('players.csv')
players

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32596,1369057,Yusuf,Kurt,Yusuf Kurt,2024,11282,yusuf-kurt,Türkiye,Batman,Türkiye,...,left,186.0,2025-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/yusuf-kurt/pro...,TR1,Alanyaspor,NaN,NaN
32597,1375876,NaN,Diego Henrique,Diego Henrique,2024,86209,diego-henrique,Brazil,"Andradina, SP",Brazil,...,left,170.0,2026-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/diego-henrique...,UKR1,FK Livyi Bereh,NaN,NaN
32598,1378362,Orseer,Achihi,Orseer Achihi,2024,1096,orseer-achihi,NaN,NaN,Nigeria,...,NaN,NaN,2029-06-30 00:00:00,Aneke/PMG,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/orseer-achihi/...,BE1,Royal Antwerp Football Club,NaN,NaN
32599,1380311,Prince Amoako,Junior,Prince Amoako Junior,2024,2778,prince-amoako-junior,NaN,NaN,Ghana,...,NaN,NaN,2029-12-31 00:00:00,CAA Stellar,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/prince-amoako-...,DK1,Fodbold Club Nordsjælland,NaN,NaN
32600,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,NaN,NaN,Nigeria,...,NaN,NaN,2025-06-30 00:00:00,Aneke/PMG,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/gabriel-jesus-...,BE1,Royal Antwerp Football Club,NaN,NaN

In [38]:
transfer=pd.read_csv('transfers.csv')
transfer

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,16136,2026-07-01,26/27,417,123,OGC Nice,Retired,NaN,500000.0,Dante
1,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
2,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
3,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia
4,887834,2026-06-30,25/26,979,1023,Moreirense,Palmeiras,0.0,1000000.0,Michel
...,...,...,...,...,...,...,...,...,...,...
79606,35207,1995-07-01,95/96,42281,11896,PTSV Dort. Yth.,Dortmund Yth.,0.0,NaN,Marco Reus
79607,22141,1994-07-01,94/95,59178,29463,Castellammare,Sorrento Youth,NaN,NaN,Antonio Mirante
79608,33829,1994-07-01,94/95,58405,53957,FC Penafiel You,Sporting Yth.,NaN,NaN,José Fonte
79609,40680,1994-07-01,94/95,47320,47318,Lichtenw. Yth.,Schornbach Yth.,0.0,NaN,Sven Ulreich
79610,61989,1993-07-01,93/94,55345,55343,A. Ickern Yth.,VfR Rauxel Yth.,0.0,NaN,Michael Esser

In [41]:
transfer_current_season=transfer.copy()
transfer_current_season=transfer[transfer['transfer_season']=='24/25']
transfer_current_season

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
23,57796,2025-07-01,24/25,2036,515,Heidenheim,Without Club,NaN,250000.0,Vitus Eicher
70,33862,2025-06-30,24/25,10484,968,Kasimpasa,KVC Westerlo,0.0,300000.0,Sinan Bolat
71,39125,2025-06-30,24/25,1244,449,CD Leganés,Trabzonspor,0.0,1800000.0,Borna Barisic
72,59047,2025-06-30,24/25,101362,53646,PFK Zvyagel,Polissya,0.0,100000.0,Vasyl Grytsuk
73,66100,2025-06-30,24/25,12321,131,Girona,Barcelona,0.0,1800000.0,Oriol Romeu
...,...,...,...,...,...,...,...,...,...,...
7345,294804,2024-06-03,24/25,515,7020,Without Club,CD Everton,0.0,1000000.0,Eduardo Bauermann
7346,994604,2024-06-01,24/25,68031,2440,Loudoun United,D.C. United,0.0,500000.0,Matai Akinmboni
7348,23553,2024-05-31,24/25,1269,4131,PEC Zwolle,LC Sailors,NaN,600000.0,Lennart Thy
7757,1083607,2024-02-29,24/25,3364,104282,Democrata GV,Botafogo U23,0.0,NaN,Dudu
79026,738770,2005-02-05,24/25,43618,172,Zébra Élites,R Charleroi SC,NaN,NaN,Quentin Benaets

In [42]:
transfer_current_season.isnull().sum()

player_id                 0
transfer_date             0
transfer_season           0
from_club_id              0
to_club_id                0
from_club_name            0
to_club_name              0
transfer_fee           1559
market_value_in_eur     558
player_name               0
dtype: int64

In [43]:
transfer_current_season.fillna(0)

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
23,57796,2025-07-01,24/25,2036,515,Heidenheim,Without Club,0.0,250000.0,Vitus Eicher
70,33862,2025-06-30,24/25,10484,968,Kasimpasa,KVC Westerlo,0.0,300000.0,Sinan Bolat
71,39125,2025-06-30,24/25,1244,449,CD Leganés,Trabzonspor,0.0,1800000.0,Borna Barisic
72,59047,2025-06-30,24/25,101362,53646,PFK Zvyagel,Polissya,0.0,100000.0,Vasyl Grytsuk
73,66100,2025-06-30,24/25,12321,131,Girona,Barcelona,0.0,1800000.0,Oriol Romeu
...,...,...,...,...,...,...,...,...,...,...
7345,294804,2024-06-03,24/25,515,7020,Without Club,CD Everton,0.0,1000000.0,Eduardo Bauermann
7346,994604,2024-06-01,24/25,68031,2440,Loudoun United,D.C. United,0.0,500000.0,Matai Akinmboni
7348,23553,2024-05-31,24/25,1269,4131,PEC Zwolle,LC Sailors,0.0,600000.0,Lennart Thy
7757,1083607,2024-02-29,24/25,3364,104282,Democrata GV,Botafogo U23,0.0,0.0,Dudu
79026,738770,2005-02-05,24/25,43618,172,Zébra Élites,R Charleroi SC,0.0,0.0,Quentin Benaets

In [44]:
transfer_current_season

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
23,57796,2025-07-01,24/25,2036,515,Heidenheim,Without Club,NaN,250000.0,Vitus Eicher
70,33862,2025-06-30,24/25,10484,968,Kasimpasa,KVC Westerlo,0.0,300000.0,Sinan Bolat
71,39125,2025-06-30,24/25,1244,449,CD Leganés,Trabzonspor,0.0,1800000.0,Borna Barisic
72,59047,2025-06-30,24/25,101362,53646,PFK Zvyagel,Polissya,0.0,100000.0,Vasyl Grytsuk
73,66100,2025-06-30,24/25,12321,131,Girona,Barcelona,0.0,1800000.0,Oriol Romeu
...,...,...,...,...,...,...,...,...,...,...
7345,294804,2024-06-03,24/25,515,7020,Without Club,CD Everton,0.0,1000000.0,Eduardo Bauermann
7346,994604,2024-06-01,24/25,68031,2440,Loudoun United,D.C. United,0.0,500000.0,Matai Akinmboni
7348,23553,2024-05-31,24/25,1269,4131,PEC Zwolle,LC Sailors,NaN,600000.0,Lennart Thy
7757,1083607,2024-02-29,24/25,3364,104282,Democrata GV,Botafogo U23,0.0,NaN,Dudu
79026,738770,2005-02-05,24/25,43618,172,Zébra Élites,R Charleroi SC,NaN,NaN,Quentin Benaets

In [45]:
most_expensive=transfer_current_season.sort_values(by='transfer_fee', ascending=False)
most_expensive

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
2795,576024,2024-08-12,24/25,281,13,Man City,Atlético Madrid,75000000.0,90000000.0,Julián Alvarez
1499,445939,2025-01-23,24/25,24,281,E. Frankfurt,Man City,75000000.0,60000000.0,Omar Marmoush
1594,502670,2025-01-17,24/25,6195,583,Napoli,Paris SG,70000000.0,85000000.0,Khvicha Kvaratskhelia
2815,258889,2024-08-10,24/25,989,148,Bournemouth,Tottenham,64300000.0,40000000.0,Dominic Solanke
3453,923831,2024-07-18,24/25,1082,985,LOSC Lille,Man Utd,62000000.0,50000000.0,Leny Yoro
...,...,...,...,...,...,...,...,...,...,...
6109,1295530,2024-07-01,24/25,44828,10484,Kasimpasa Yth,Kasimpasa,NaN,NaN,Yaman Suakar
6110,1306131,2024-07-01,24/25,51638,12963,Boavista U17,Boavista Y19,NaN,NaN,Fábio Sambú
6111,1309800,2024-07-01,24/25,40902,2778,Right to Dream,Nordsjaelland,NaN,NaN,Issaka Seidu
7348,23553,2024-05-31,24/25,1269,4131,PEC Zwolle,LC Sailors,NaN,600000.0,Lennart Thy
79026,738770,2005-02-05,24/25,43618,172,Zébra Élites,R Charleroi SC,NaN,NaN,Quentin Benaets

In [46]:
merge1=pd.merge(players,transfer_current_season,on="player_id",how="inner")

In [47]:
merge1

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,highest_market_value_in_eur,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur_y,player_name
0,4391,Boy,Waterman,Boy Waterman,2023,383,boy-waterman,Netherlands,Lelystad,Netherlands,...,3000000.0,2024-07-01,24/25,383,123,PSV Eindhoven,Retired,NaN,50000.0,Boy Waterman
1,7825,Pepe,Reina,Pepe Reina,2024,1047,pepe-reina,Spain,Madrid,Spain,...,22000000.0,2024-07-18,24/25,1050,1047,Villarreal,Como,0.0,600000.0,Pepe Reina
2,9500,David,Marshall,David Marshall,2023,903,david-marshall,Scotland,Glasgow,Scotland,...,3000000.0,2024-07-01,24/25,903,123,Hibernian FC,Retired,NaN,50000.0,David Marshall
3,12359,Niki,Mäenpää,Niki Mäenpää,2024,3062,niki-maenpaa,Finland,Espoo,Finland,...,600000.0,2025-02-07,24/25,515,3062,Without Club,Kallithea,NaN,50000.0,Niki Mäenpää
4,12359,Niki,Mäenpää,Niki Mäenpää,2024,3062,niki-maenpaa,Finland,Espoo,Finland,...,600000.0,2025-01-01,24/25,1008,515,HJK Helsinki,Without Club,NaN,50000.0,Niki Mäenpää
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6034,1375876,NaN,Diego Henrique,Diego Henrique,2024,86209,diego-henrique,Brazil,"Andradina, SP",Brazil,...,NaN,2025-02-15,24/25,27804,86209,Taquaritinga-SP,Livyi Bereg,0.0,NaN,Diego Henrique
6035,1378362,Orseer,Achihi,Orseer Achihi,2024,1096,orseer-achihi,NaN,NaN,Nigeria,...,NaN,2025-02-03,24/25,121970,1096,PSF Academy,Royal Antwerp,NaN,NaN,Orseer Achihi
6036,1380311,Prince Amoako,Junior,Prince Amoako Junior,2024,2778,prince-amoako-junior,NaN,NaN,Ghana,...,NaN,2025-02-25,24/25,40902,2778,Right to Dream,Nordsjaelland,0.0,NaN,Prince Amoako Junior
6037,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,NaN,NaN,Nigeria,...,NaN,2025-06-30,24/25,1096,121970,Royal Antwerp,PSF Academy,0.0,NaN,Gabriel Jesus David
6038,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,NaN,NaN,Nigeria,...,NaN,2025-02-03,24/25,121970,1096,PSF Academy,Royal Antwerp,0.0,NaN,Gabriel Jesus David

In [48]:
merge1.sort_values(by="transfer_fee", ascending=False)

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,highest_market_value_in_eur,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur_y,player_name
2396,445939,Omar,Marmoush,Omar Marmoush,2024,281,omar-marmoush,Egypt,Kairo,Egypt,...,60000000.0,2025-01-23,24/25,24,281,E. Frankfurt,Man City,75000000.0,60000000.0,Omar Marmoush
3234,576024,Julián,Alvarez,Julián Alvarez,2024,13,julian-alvarez,Argentina,Calchín,Argentina,...,90000000.0,2024-08-12,24/25,281,13,Man City,Atlético Madrid,75000000.0,90000000.0,Julián Alvarez
2768,502670,Khvicha,Kvaratskhelia,Khvicha Kvaratskhelia,2024,583,khvicha-kvaratskhelia,Georgia,Tiflis,Georgia,...,85000000.0,2025-01-17,24/25,6195,583,Napoli,Paris SG,70000000.0,85000000.0,Khvicha Kvaratskhelia
1143,258889,Dominic,Solanke,Dominic Solanke,2024,148,dominic-solanke,England,Basingstoke,England,...,45000000.0,2024-08-10,24/25,989,148,Bournemouth,Tottenham,64300000.0,40000000.0,Dominic Solanke
5090,923831,Leny,Yoro,Leny Yoro,2024,985,leny-yoro,France,Saint-Maurice,France,...,55000000.0,2024-07-18,24/25,1082,985,LOSC Lille,Man Utd,62000000.0,50000000.0,Leny Yoro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6029,1358447,Kyan,Himpe,Kyan Himpe,2024,601,kyan-himpe,NaN,NaN,Belgium,...,NaN,2025-01-18,24/25,43561,601,Kortrijk U21,KV Kortrijk,NaN,NaN,Kyan Himpe
6030,1358448,Fuhna,Wirsiy Nsolo,Fuhna Wirsiy Nsolo,2024,601,fuhna-wirsiy-nsolo,NaN,NaN,Belgium,...,NaN,2025-01-18,24/25,43561,601,Kortrijk U21,KV Kortrijk,NaN,NaN,Fuhna Wirsiy Nsolo
6031,1364960,Darryl,Nkulikiyimana,Darryl Nkulikiyimana,2024,9010,darryl-nkulikiyimana,NaN,NaN,Belgium,...,NaN,2025-01-01,24/25,66292,9010,Dender EH U21,FCV Dender EH,NaN,NaN,Darryl Nkulikiyimana
6032,1367128,Abdoulaye,Yoro,Abdoulaye Yoro,2024,6890,abdoulaye-yoro,NaN,NaN,Cote d'Ivoire,...,NaN,2025-01-15,24/25,75,6890,Unknown,Basaksehir,NaN,NaN,Abdoulaye Yoro
6035,1378362,Orseer,Achihi,Orseer Achihi,2024,1096,orseer-achihi,NaN,NaN,Nigeria,...,NaN,2025-02-03,24/25,121970,1096,PSF Academy,Royal Antwerp,NaN,NaN,Orseer Achihi

In [71]:
merge1.dtypes

player_id                                 int64
first_name                               object
last_name                                object
name                                     object
last_season                               int64
current_club_id                           int64
player_code                              object
country_of_birth                         object
city_of_birth                            object
country_of_citizenship                   object
date_of_birth                            object
sub_position                             object
position                                 object
foot                                     object
height_in_cm                            float64
contract_expiration_date                 object
agent_name                               object
image_url                                object
url                                      object
current_club_domestic_competition_id     object
current_club_name                        object
market_value_in_eur_x                   float64
highest_market_value_in_eur             float64
transfer_date                            object
transfer_season                          object
from_club_id                              int64
to_club_id                                int64
from_club_name                           object
to_club_name                             object
transfer_fee                            float64
market_value_in_eur_y                   float64
player_name                              object
dtype: object

In [72]:
merge1.isnull().sum()

player_id                                  0
first_name                               359
last_name                                  0
name                                       0
last_season                                0
current_club_id                            0
player_code                                0
country_of_birth                         484
city_of_birth                            484
country_of_citizenship                     0
date_of_birth                              2
sub_position                               9
position                                   0
foot                                     279
height_in_cm                             301
contract_expiration_date                 682
agent_name                              1901
image_url                                  0
url                                        0
current_club_domestic_competition_id       0
current_club_name                          0
market_value_in_eur_x                    316
highest_market_value_in_eur              316
transfer_date                              0
transfer_season                            0
from_club_id                               0
to_club_id                                 0
from_club_name                             0
to_club_name                               0
transfer_fee                               0
market_value_in_eur_y                      0
player_name                                0
dtype: int64

In [49]:
merge1.fillna({col:0 for col in merge1.select_dtypes(include='number').columns})
merge1.fillna('N/A',inplace=True)
merge1

/var/folders/rx/rh0pw2rd5j1_2rbk78s2ddrr0000gn/T/ipykernel_23521/2791640089.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'N/A' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merge1.fillna('N/A',inplace=True)

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,highest_market_value_in_eur,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur_y,player_name
0,4391,Boy,Waterman,Boy Waterman,2023,383,boy-waterman,Netherlands,Lelystad,Netherlands,...,3000000.0,2024-07-01,24/25,383,123,PSV Eindhoven,Retired,N/A,50000.0,Boy Waterman
1,7825,Pepe,Reina,Pepe Reina,2024,1047,pepe-reina,Spain,Madrid,Spain,...,22000000.0,2024-07-18,24/25,1050,1047,Villarreal,Como,0.0,600000.0,Pepe Reina
2,9500,David,Marshall,David Marshall,2023,903,david-marshall,Scotland,Glasgow,Scotland,...,3000000.0,2024-07-01,24/25,903,123,Hibernian FC,Retired,N/A,50000.0,David Marshall
3,12359,Niki,Mäenpää,Niki Mäenpää,2024,3062,niki-maenpaa,Finland,Espoo,Finland,...,600000.0,2025-02-07,24/25,515,3062,Without Club,Kallithea,N/A,50000.0,Niki Mäenpää
4,12359,Niki,Mäenpää,Niki Mäenpää,2024,3062,niki-maenpaa,Finland,Espoo,Finland,...,600000.0,2025-01-01,24/25,1008,515,HJK Helsinki,Without Club,N/A,50000.0,Niki Mäenpää
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6034,1375876,N/A,Diego Henrique,Diego Henrique,2024,86209,diego-henrique,Brazil,"Andradina, SP",Brazil,...,N/A,2025-02-15,24/25,27804,86209,Taquaritinga-SP,Livyi Bereg,0.0,N/A,Diego Henrique
6035,1378362,Orseer,Achihi,Orseer Achihi,2024,1096,orseer-achihi,N/A,N/A,Nigeria,...,N/A,2025-02-03,24/25,121970,1096,PSF Academy,Royal Antwerp,N/A,N/A,Orseer Achihi
6036,1380311,Prince Amoako,Junior,Prince Amoako Junior,2024,2778,prince-amoako-junior,N/A,N/A,Ghana,...,N/A,2025-02-25,24/25,40902,2778,Right to Dream,Nordsjaelland,0.0,N/A,Prince Amoako Junior
6037,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,N/A,N/A,Nigeria,...,N/A,2025-06-30,24/25,1096,121970,Royal Antwerp,PSF Academy,0.0,N/A,Gabriel Jesus David
6038,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,N/A,N/A,Nigeria,...,N/A,2025-02-03,24/25,121970,1096,PSF Academy,Royal Antwerp,0.0,N/A,Gabriel Jesus David

In [93]:
appr

,appearance_id,game_id,player_id,player_club_id,current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696968,4547698_661145,4547698,661145,681,681,2025-03-13,Jon Aramburu,EL,0,1,0,0,7
1696969,4547698_69633,4547698,69633,985,985,2025-03-13,Christian Eriksen,EL,0,0,0,0,1
1696970,4547698_811779,4547698,811779,985,985,2025-03-13,Alejandro Garnacho,EL,0,0,0,1,90
1696971,4547698_907813,4547698,907813,681,681,2025-03-13,Pablo Marín,EL,1,0,0,0,56
1696972,4547698_926952,4547698,926952,985,985,2025-03-13,Patrick Dorgu,EL,0,0,0,0,90

In [92]:
appr.rename(columns={'player_current_club_id':'current_club_id'},inplace=True)

In [95]:
merge2=pd.merge(merge1,appr,on=['player_id','current_club_id'],how="inner")

In [63]:
merge2

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,player_club_id,player_current_club_id,date,player_name_y,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,4391,Boy,Waterman,Boy Waterman,2023,383,boy-waterman,Netherlands,Lelystad,Netherlands,...,383,383,2012-08-30,Boy Waterman,ELQ,0,0,0,0,90
1,4391,Boy,Waterman,Boy Waterman,2023,383,boy-waterman,Netherlands,Lelystad,Netherlands,...,383,383,2012-09-20,Boy Waterman,EL,0,0,0,0,90
2,4391,Boy,Waterman,Boy Waterman,2023,383,boy-waterman,Netherlands,Lelystad,Netherlands,...,383,383,2012-09-23,Boy Waterman,NL1,0,0,0,0,90
3,4391,Boy,Waterman,Boy Waterman,2023,383,boy-waterman,Netherlands,Lelystad,Netherlands,...,383,383,2012-09-27,Boy Waterman,NLP,0,0,0,0,90
4,4391,Boy,Waterman,Boy Waterman,2023,383,boy-waterman,Netherlands,Lelystad,Netherlands,...,383,383,2012-09-30,Boy Waterman,NL1,0,0,0,0,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451563,1310513,Aristide,Zossou,Aristide Zossou,2024,290,aristide-zossou,Cote d'Ivoire,Abobo,Cote d'Ivoire,...,290,290,2025-01-19,Aristide Zossou,FR1,0,0,0,0,3
451564,1358447,Kyan,Himpe,Kyan Himpe,2024,601,kyan-himpe,N/A,N/A,Belgium,...,601,601,2024-12-26,Kyan Himpe,BE1,0,0,0,0,3
451565,1378362,Orseer,Achihi,Orseer Achihi,2024,1096,orseer-achihi,N/A,N/A,Nigeria,...,1096,1096,2025-03-01,Orseer Achihi,BE1,1,0,0,0,27
451566,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,N/A,N/A,Nigeria,...,1096,1096,2025-03-01,Gabriel Jesus David,BE1,0,0,0,0,5
451567,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,N/A,N/A,Nigeria,...,1096,1096,2025-03-01,Gabriel Jesus David,BE1,0,0,0,0,5

In [96]:
merge2.isnull().sum()

player_id                               0
first_name                              0
last_name                               0
name                                    0
last_season                             0
current_club_id                         0
player_code                             0
country_of_birth                        0
city_of_birth                           0
country_of_citizenship                  0
date_of_birth                           0
sub_position                            0
position                                0
foot                                    0
height_in_cm                            0
contract_expiration_date                0
agent_name                              0
image_url                               0
url                                     0
current_club_domestic_competition_id    0
current_club_name                       0
market_value_in_eur_x                   0
highest_market_value_in_eur             0
transfer_date                           0
transfer_season                         0
from_club_id                            0
to_club_id                              0
from_club_name                          0
to_club_name                            0
transfer_fee                            0
market_value_in_eur_y                   0
player_name_x                           0
appearance_id                           0
game_id                                 0
player_club_id                          0
date                                    0
player_name_y                           0
competition_id                          0
yellow_cards                            0
red_cards                               0
goals                                   0
assists                                 0
minutes_played                          0
dtype: int64

In [54]:
merge2.to_csv('Stats.csv',index=False)

In [97]:
Stats=merge2.copy()

In [98]:
merge2['transfer_fee'] = pd.to_numeric(merge2['transfer_fee'], errors='coerce')

In [99]:
Stats=merge2.sort_values(by='transfer_fee',ascending=False)

In [100]:
Stats[['player_name_x','transfer_fee']]

          player_name_x  transfer_fee
350301    Omar Marmoush    75000000.0
397242   Julián Alvarez    75000000.0
397236   Julián Alvarez    75000000.0
397237   Julián Alvarez    75000000.0
397238   Julián Alvarez    75000000.0
...                 ...           ...
451561  Aristide Zossou           NaN
451562  Aristide Zossou           NaN
451563  Aristide Zossou           NaN
451564       Kyan Himpe           NaN
451565    Orseer Achihi           NaN

[451568 rows x 2 columns]

In [68]:
Stats.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,player_club_id,player_current_club_id,date,player_name_y,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
350301,445939,Omar,Marmoush,Omar Marmoush,2024,281,omar-marmoush,Egypt,Kairo,Egypt,...,24,281,2023-08-27,Omar Marmoush,L1,1,0,1,0,90
397242,576024,Julián,Alvarez,Julián Alvarez,2024,13,julian-alvarez,Argentina,Calchín,Argentina,...,281,13,2024-05-11,Julián Alvarez,GB1,0,0,1,0,8
397236,576024,Julián,Alvarez,Julián Alvarez,2024,13,julian-alvarez,Argentina,Calchín,Argentina,...,281,13,2024-04-13,Julián Alvarez,GB1,0,0,0,1,90
397237,576024,Julián,Alvarez,Julián Alvarez,2024,13,julian-alvarez,Argentina,Calchín,Argentina,...,281,13,2024-04-17,Julián Alvarez,CL,0,0,0,0,30
397238,576024,Julián,Alvarez,Julián Alvarez,2024,13,julian-alvarez,Argentina,Calchín,Argentina,...,281,13,2024-04-20,Julián Alvarez,FAC,1,0,0,0,88

In [93]:
Stats.to_csv('Stats.csv',index=False)

In [101]:
Stats_needed_data=Stats.copy()

In [102]:
Stats.dtypes

player_id                                 int64
first_name                               object
last_name                                object
name                                     object
last_season                               int64
current_club_id                           int64
player_code                              object
country_of_birth                         object
city_of_birth                            object
country_of_citizenship                   object
date_of_birth                            object
sub_position                             object
position                                 object
foot                                     object
height_in_cm                             object
contract_expiration_date                 object
agent_name                               object
image_url                                object
url                                      object
current_club_domestic_competition_id     object
current_club_name                        object
market_value_in_eur_x                    object
highest_market_value_in_eur              object
transfer_date                            object
transfer_season                          object
from_club_id                              int64
to_club_id                                int64
from_club_name                           object
to_club_name                             object
transfer_fee                            float64
market_value_in_eur_y                    object
player_name_x                            object
appearance_id                            object
game_id                                   int64
player_club_id                            int64
date                                     object
player_name_y                            object
competition_id                           object
yellow_cards                              int64
red_cards                                 int64
goals                                     int64
assists                                   int64
minutes_played                            int64
dtype: object

In [103]:
Stats_needed_data=Stats[['player_id','player_name_x','current_club_name','transfer_fee','market_value_in_eur_y','competition_id','yellow_cards','red_cards','goals','assists','minutes_played']]

In [109]:
Stats_needed_data.rename(columns={'player_name_x':'player_name'},inplace=True)
Stats_needed_data.rename(columns={'market_value_in_eur_y':'market_value_in_eur'},inplace=True)

/var/folders/rx/rh0pw2rd5j1_2rbk78s2ddrr0000gn/T/ipykernel_23521/3303683770.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Stats_needed_data.rename(columns={'player_name_x':'player_name'},inplace=True)
/var/folders/rx/rh0pw2rd5j1_2rbk78s2ddrr0000gn/T/ipykernel_23521/3303683770.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Stats_needed_data.rename(columns={'market_value_in_eur_y':'market_value_in_eur'},inplace=True)

In [110]:
Stats_needed_data.head(20)

,player_id,player_name,current_club_name,transfer_fee,market_value_in_eur,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
350301,445939,Omar Marmoush,Manchester City Football Club,75000000.0,60000000.0,L1,1,0,1,0,90
397242,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,1,0,8
397236,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,0,1,90
397237,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,CL,0,0,0,0,30
397238,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,FAC,1,0,0,0,88
397239,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,1,0,90
397240,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,0,0,89
397241,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,1,0,8
397243,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,0,0,1
397251,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,ES1,0,0,0,0,90
397244,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,FAC,1,0,0,0,34
397245,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,ES1,0,0,0,0,12
397246,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,ES1,0,0,0,0,81
397247,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,ES1,0,0,0,0,45
397248,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,ES1,0,0,0,0,70
397249,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,ES1,0,0,1,0,29
397235,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,CL,0,0,0,0,3
397234,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,0,0,74
397233,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,0,0,90
397232,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,FAC,0,0,0,0,3

In [111]:
Stats_needed_data.isnull().sum()
Stats_needed_data.fillna(0)

,player_id,player_name,current_club_name,transfer_fee,market_value_in_eur,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
350301,445939,Omar Marmoush,Manchester City Football Club,75000000.0,60000000.0,L1,1,0,1,0,90
397242,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,1,0,8
397236,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,GB1,0,0,0,1,90
397237,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,CL,0,0,0,0,30
397238,576024,Julián Alvarez,Club Atlético de Madrid S.A.D.,75000000.0,90000000.0,FAC,1,0,0,0,88
...,...,...,...,...,...,...,...,...,...,...,...
451561,1310513,Aristide Zossou,Association de la Jeunesse auxerroise,0.0,N/A,FR1,0,0,0,0,5
451562,1310513,Aristide Zossou,Association de la Jeunesse auxerroise,0.0,N/A,FR1,0,0,0,0,5
451563,1310513,Aristide Zossou,Association de la Jeunesse auxerroise,0.0,N/A,FR1,0,0,0,0,3
451564,1358447,Kyan Himpe,Koninklijke Voetbalclub Kortrijk,0.0,N/A,BE1,0,0,0,0,3
451565,1378362,Orseer Achihi,Royal Antwerp Football Club,0.0,N/A,BE1,1,0,0,0,27

In [85]:
Stats_needed_data.to_csv('Stats_new.csv',index=False)

In [107]:
grouping=Stats_needed_data.copy()

In [124]:
grouping=Stats_needed_data.groupby(['player_name','transfer_fee','market_value_in_eur'])[['minutes_played','goals','assists','yellow_cards','red_cards']].sum().reset_index()

In [125]:
grouping

,player_name,transfer_fee,market_value_in_eur,minutes_played,goals,assists,yellow_cards,red_cards
0,Aaron Appindangoyé,0.0,800000.0,9601,1,3,12,0
1,Aaron Donnelly,0.0,400000.0,5064,2,4,8,0
2,Aaron Donnelly,0.0,500000.0,2532,1,2,4,0
3,Aaron Ramsdale,21400000.0,25000000.0,17310,0,1,5,0
4,Aaron Reid,0.0,N/A,289,2,0,1,0
...,...,...,...,...,...,...,...,...
3493,Úmaro Embaló,0.0,700000.0,4980,12,8,12,0
3494,Ümit Akdağ,0.0,800000.0,970,0,0,4,0
3495,İbrahim Yılmaz,0.0,200000.0,1710,2,0,6,0
3496,İlkay Gündoğan,0.0,15000000.0,35593,78,69,44,0
3497,Ștefan Vlădoiu,0.0,1000000.0,332,0,0,1,0

In [128]:
sorted=grouping.sort_values(by=['transfer_fee','goals','assists','minutes_played','yellow_cards','red_cards'],ascending=[False,False,False,False,True,True])

In [129]:
sorted.head(20)

,player_name,transfer_fee,market_value_in_eur,minutes_played,goals,assists,yellow_cards,red_cards
1673,Julián Alvarez,75000000.0,90000000.0,8687,57,23,10,0
2558,Omar Marmoush,75000000.0,60000000.0,8737,45,26,17,0
1768,Khvicha Kvaratskhelia,70000000.0,85000000.0,12378,40,45,24,0
843,Dominic Solanke,64300000.0,40000000.0,13681,51,23,10,0
1859,Leny Yoro,62000000.0,50000000.0,4719,3,0,8,0
2341,Moussa Diaby,60000000.0,55000000.0,16687,57,61,31,0
2645,Pedro Neto,60000000.0,55000000.0,9156,19,28,25,0
2427,Nico González,60000000.0,18000000.0,7651,12,10,28,1
1633,João Neves,59920000.0,55000000.0,6892,7,12,6,0
169,Amadou Onana,59350000.0,50000000.0,8294,9,3,21,1
674,Dani Olmo,55000000.0,60000000.0,11268,41,43,11,0
3109,Teun Koopmeiners,54700000.0,50000000.0,25968,75,35,45,1
2237,Michael Olise,53000000.0,55000000.0,8168,29,36,8,0
1624,João Félix,52000000.0,30000000.0,14889,71,37,38,1
851,Douglas Luiz,51500000.0,70000000.0,17887,21,19,57,1
1636,João Palhinha,51000000.0,55000000.0,22245,19,5,82,2
3366,Xavi Simons,50000000.0,80000000.0,9378,39,31,24,0
869,Désiré Doué,50000000.0,30000000.0,4990,12,15,12,0
2031,Manuel Ugarte,50000000.0,45000000.0,11019,3,9,45,1
950,Endrick,47500000.0,60000000.0,495,6,0,4,0

In [130]:
sorted.to_csv('Transferdata.csv',index=False)